@import 'index.scss';
.titulo_formulario{
    color:$gris2;
    width: fit-content;
    margin:20px auto 50px auto;
}
.formulario{
    width: 80%;
    margin:2px auto 30px auto;
    display: flex;
    flex-direction: column;
    .fila{
        background: $negro3;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        overflow: hidden;
        border-radius: 5px;
        label{
            color: $gris1;
            font-weight: 200;
            margin-left: 1%;
            margin-top: 0.5%;
        }
        .entrada{
            background: none;
            border: none;
            color: white;
            outline: none;
            padding: 2px 10px;
            font-size: 1.2rem;
            background:$negro3;
            &.entrada_color{
                width: 100%;
            }
            &:focus{
                border-bottom: 3px solid $azul;
            }
            &.area-texto{
                resize: none;
                height: 100px;
            }
        }
    }
    .area_botones{
        width: 100%;
        display: flex;
        .boton_izquierdo{
            margin: auto 0 auto auto;
        }
    }
}
@media(max-width:497px){
    .formulario{
        width: 98%;
        .area_botones{
            .boton{
                font-size: .8rem;
                padding: 10px;
            }
        }
    }
    .tabla{
        display: none;
    }
}