@import 'colores.scss';

.seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1% auto 2% auto;

    .area_titulo {
        width: 100%;
        display: flex;
        margin-bottom: 2%;

        h2 {
            padding: 10px;
            margin: auto 0 auto 2%;
            border-radius: 10px;
        }

        p {
            margin: auto 2%;
            color: $gris2;
        }
    }

    .areaVideos {
        width: 100%;
        overflow-x: hidden;

        .areaBotones {
            width: 90%;
            display: flex;
            margin: 10px auto 0 auto;
            justify-content: space-between;

            button {
                border: 1px solid white;
                background: none;
                color: white;
                padding: 5px 10px;
                font-weight: 600;
                cursor: pointer;
                border-radius: 10px;

                &:hover {
                    background: rgb(36, 35, 35);
                }
            }
        }

        .cuadroVideo {
            margin-left: 2%;
            width: 300px;
            .slider {
                display: flex;
                height: 100%;
                .video{
                    width: 100%;
                    height: 100%;
                    img {
                        border-radius: 10px;
                        width:90%;
                        margin: auto;
                        
                    }
                }
            }
        }
    }
}